* {
    box-sizing: border-box;
}

:root {
    --main-font-family: 'Shadows Into Light', sans-serif;
    --second-font-family: 'Georgia', sans-serif;
    --third-font-family: 'Yu Gothic', sans-serif;
    --white-color: white;
    --black-color: black;
}

header {
    background-color: rgba(102, 142, 104, 1);
}

.logo a{
    color: var(--white-color);
    font-family: var(--second-font-family);
    font-style: Regular;
    font-size: 2.75rem;
    font-weight: 400;
    line-height: 3.31rem;
    letter-spacing: 0%;
    text-align: left;
    text-decoration: none;
}

ul {
    gap: 15px;
}

.header-text a{
    color: var(--white-color);
    font-family: var(--third-font-family);
    font-style: Medium;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.38rem;
}

.top-bg-section {
    background-image: url(../img/coffe.png);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    >h1 {
        padding-top: 171px;
        padding-bottom: 172px;
    }
}

h1 {
    color: var(--white-color);
    font-family: var(--main-font-family);
    text-shadow: 2px 2px 2px black;
    font-style: Regular;
    font-size: 6.88rem;
    font-weight: 400;
    line-height: 11.06rem;
}

.menu h3 {
    color: var(--black-color);
    font-family: var(--main-font-family);
    font-style: Regular;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    >span {
        font-family: var(--third-font-family);
        font-style: Medium;
        font-weight: 500;
        font-size: 1.1rem; 
    }
}

.menu .pb-5 {
    padding-bottom: 100px !important;
}

.food {
    color: var(--black-color);
    font-family: var(--second-font-family);
    font-style: Regular;
    font-size: 1.63rem;
    font-weight: 400;
    line-height: 1.94rem;
}

.menu .border-radius {
    border: 0.56rem solid rgba(129, 97, 59, 1);
}

.my-bg {
    background-color: rgba(255, 255, 255, 0.6) !important;
}

.rounded-circle {
    aspect-ratio: 1 / 1;
    >img {
        width: 110% !important;
        height: 110% !important;
    }
}

.col {
    padding: 0 !important;
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
}

.button-bottom {
    background-color: rgba(102, 142, 104, 1);
    width: 10rem;
    height: 2.5rem;
    border-radius: 1.25rem;
    color: var(--white-color);
    font-family: var(--third-font-family);
    font-size: 1rem;
    font-weight: 300;
    line-height: 1rem;
}

.about-us {
    background-image: url(../img/cafe.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
}

.about-us h5, .about-us p {
    color: var(--white-color);
    font-family: var(--third-font-family);
    font-style: Medium;
    font-size: 1.5rem;
    font-weight: 500;
    line-height: 1.63rem;
    text-shadow: 2px 2px 2px black;
}

.about-us h4 {
    color: var(--white-color);
    font-family: var(--main-font-family);
    text-shadow: 2px 2px 2px black;
    font-size: 3rem;
    font-weight: 500;
    padding-top: 238px;
}

.about-us .pb-5 {
    padding-bottom: 247px !important;
}

.footer-text h3 {
    color: var(--black-color);
    font-family: var(--main-font-family);
    font-style: Regular;
    font-size: 2.5rem;
    font-weight: 400;
    letter-spacing: 1px;
    >span {
        font-family: var(--third-font-family);
        font-style: Medium;
        font-weight: 500;
        font-size: 1.3rem; 
    }
}

.footer-text {
    background-color: rgba(129, 97, 59, 0.2);
}

.text-content {
    color: var(--black-color);
    font-family: var(--third-font-family);
    font-style: Medium;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 2rem;
    text-align: left;
    gap: 20px;
}

.text-content .d-flex {
    gap: 30px;
}

.flex-gap {
    gap: 15px !important;
}

footer h5 {
    color: var(--white-color);
    font-family: var(--third-font-family);
    font-style: Medium;
    font-size: 1rem;
    font-weight: 500;
    line-height: 1.56rem;
}

.button-footer {
    opacity: 0.8;
    color: var(--white-color);
}

@media (max-width:500px) {
    .about-us p {
        text-align: left !important;
    }
}

@media (max-width:771px) {
    .flex-clmn {
        flex-direction: column !important;
    }

    .media-gap {
        gap: 20px;
    }

    footer h5 {
        text-align: center !important;
    }

    footer .row {
        gap: 100px;
    }

    .top-bg-section {
        background-size: 100%;
        >h1 {
            padding: 0;
            font-size: 3rem;    
        }
    }
}