* {
    box-sizing: border-box;
}

.cover {
    background-color: rgba(0, 161, 198, 0.05);
    width: 1920px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.card-container {
    width: 295px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(234, 237, 242, 1);
    box-shadow: 0px 0px 10px 0px rgba(45, 54, 64, 0.05);
    position: relative;
    top: 362px;
    left: 350px;
}

.card-container2 {
    width: 295px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(234, 237, 242, 1);
    box-shadow: 0px 0px 10px 0px rgba(45, 54, 64, 0.05);
    position: absolute;
    top: 362px;
    left: 665px;
}

.card-container3 {
    width: 295px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(234, 237, 242, 1);
    box-shadow: 0px 0px 10px 0px rgba(45, 54, 64, 0.05);
    position: absolute;
    top: 362px;
    left: 980px;
}

.card-container4 {
    width: 295px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(234, 237, 242, 1);
    box-shadow: 0px 0px 10px 0px rgba(45, 54, 64, 0.05);
    position: absolute;
    top: 362px;
    left: 1295px;
}

.avatar {
    width: 114.29px;
    height: 114.29px;
    display: block;
    margin: 56px auto;
}

.card1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 122px;
}

.angular {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 57px;
}

.react {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 187px;
}

.left-card {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 91px;
}

.right-card {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 155px;
}

h1 {
    color: rgba(45, 54, 64, 1);
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.63px;
    text-align: center;
    margin: 0;
}

p {
    color: rgba(75, 79, 82, 1);
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}