* {
    box-sizing: border-box;
}

.cover {
    background-color: rgba(0, 161, 198, 0.05);
    width: 1920px;
    height: 960px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.card-container, .card-container2, .card-container3, .card-container4 {
    width: 295px;
    height: 470px;
    background-color: white;
    border-radius: 20px;
    border: 1px solid rgba(234, 237, 242, 1);
    box-shadow: 0px 0px 10px 0px rgba(45, 54, 64, 0.05);
    position: relative; 
    float: left;
    margin-right: 20px;
    margin-top: 0;
}

.avatar {
    width: 114.29px;
    height: 114.29px;
    display: block;
    margin: 56px auto 36px;  
}

.card1 {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 122px;
}

.angular {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 57px;
}

.react {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 187px;
}

.left-card {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 91px;
}

.right-card {
    width: 50px;
    height: 50px;
    position: absolute;
    top: 301px;
    left: 155px;
}

h1 {
    color: rgba(45, 54, 64, 1);
    font-family: Catamaran;
    font-size: 20px;
    font-weight: 700;
    line-height: 33px;
    letter-spacing: -0.63px;
    text-align: center;
    margin: 0;
}

p {
    color: rgba(75, 79, 82, 1);
    font-family: Catamaran;
    font-size: 16px;
    font-weight: 300;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    margin: 0;
}

h2 {
    color: rgba(45, 54, 64, 1);
    font-family: IBM Plex Sans;
    font-size: 48px;
    font-weight: 300;
    line-height: 80px;
    letter-spacing: -0.5px;
    text-align: left;
    margin: 0;
}

.text {
    color: rgba(43, 41, 45, 1);
    font-family: IBM Plex Sans;
    font-size: 20px;
    font-weight: 400;
    line-height: 40px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 0;
}

.header-content {
    text-align: left;
    margin: 100px 0 30px;
    
}

.card-wrap {
    width: 1260px;
    margin: 0 auto;
}

.clearfix::after {
    content: "";
    display: block;
    clear: both;
}

.content-container {
    max-width: 1260px;
    margin: 0 auto;
}