* {
    box-sizing: border-box;
}

body {
    background-color: grey;
}

.main-container {
    margin: 0 auto;
    background-color: rgba(30, 30, 30, 1);
    width: 150px;
    height: 167px;
    border: 3px solid rgba(53, 53, 53, 1);
    border-radius: 8px;
}

.timer-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 16px;
}

.timer {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 3px solid rgba(251, 164, 33, 1);
    display: flex;
    justify-content: center;
    align-items: center;
}

.timer p {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 20px;
    line-height: 100%;
    color: white;
}

.button-container {
    padding-top: 10px;
    display: flex;
    gap: 10px;
}

.start-btn {
    border: none;
    background-color: rgba(251, 164, 33, 1);
    border-radius: 4px;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    cursor: pointer;
}

.reset-btn {
    border: 1px solid white;
    border-radius: 4px;
    background: none;
    font-family: 'Inter', sans-serif;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: white;
    cursor: pointer;
}