* {
    box-sizing: border-box;
}

.container {
    width: 1200px;
    margin: 0 auto;
    position: relative;
}

.position-abs {
    background-color: black;
    width: 512px;
    height: 512px;
    text-align: center;
    position: absolute;
    top: 20px;
    left: 20px;
}

.position-abs.second {
    background-color: rgba(255, 206, 34, 1);
    width: 512px;
    height: 512px;
    z-index: 3;
    top: 400px;
    left: 460px;
}

.position-abs.third {
    background-color: rgba(255, 255, 255, 1);
    border-bottom: 3px solid rgba(33, 55, 252, 1);
    border-top: 3px solid rgba(33, 55, 252, 1);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    width: 512px;
    height: 512px;
    text-align: center;
    z-index: 1;
    top: 820px;
    left: 880px;
}

body {
    background-color: rgb(222, 224, 226);
}

.ImagePosition {
    width: 310px;
    height: 182px;
    position: absolute;
    top: 128.64px;
    left: 101px;
}

.ImagePosition1 {
    width: 400px;
    height: 227.36px;
    position: absolute;
    top: 144px;
    left: 55px;
}

.ImagePosition2 {
    width: 358.44px;
    height: 203.74px;
    position: absolute;
    top: 249.86px;
    left: 77.26px;
}

.inside {
    width: 444px;
    height: 444px;
    margin: 34px;
    background-color: rgba(255, 206, 34, 1);
    border-radius: 50%;
}

.position-abs.flag {
    width: 80px;
    height: 60px;
    border-radius: 6px;
    background: linear-gradient(180.00deg, rgba(33, 55, 252, 1),rgba(33, 55, 251, 1) 50%,rgba(255, 216, 75, 1) 50%,rgba(255, 216, 75, 1) 100%);
    top: 343px;
    left: 216px;
}

.blue-img {
    width: 512px;
    height: 271.5px;
}